{% extends 'base.html.twig' %}

{% block title %} {{ 'title.resumes'|trans }} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .row DIV .col-xs-6:hover {
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="col-xs-12 col-sm-12">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        <div class="row">
            {% for resume in resumes %}
                <div class="col-xs-6 col-lg-6">
                    {% include 'partials_name/resume.html.twig' %}
                </div><!--/.col-xs-6.col-lg-6-->
            {% endfor %}
        </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-12-->
{% endblock %}
